.details li:not(:last-child) {
    margin-bottom: 5px;
}

.accordion-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
}

.accordion-heading,
.no-results {
    background-color: rgba(0, 0, 0, 0.2);
}

h3, 
.accordion-details p,
span {
    padding: 10px 20px;
}

.accordion-details {
    background-color: rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    transition: all .5s cubic-bezier(0, 1, 0, 1)
}


.accordion-details.show {
    height: auto;
    max-height: 9999px;
    transition: all .5s cubic-bezier(1, 0, 1, 0);
}