.form {
    display: flex;
    justify-content: center;
    padding: 0 5% 2%;
}

select {
    width: 20%;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 5%;
    border: none;
}

button {
    padding: 10px;
    width: 15%;
    border-radius: 30px;
    background-color: #30322B;
    color: white;
    font-size: 1.3rem;
}

button:hover, 
button:focus {
    cursor: pointer;
    background-color: #505e20;
}
