/* Tab headings */

.tab-headings {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.tabs {
    flex-grow: 1;
}


.btn-tab {
    width: 100%;
    font-size: 1.6rem;
    border-radius: 0;
}

.active-tabs .btn-tab {
    background-color: var(--color-secondary);
}

/* Tab contents */
.content {
    display: none;
}

.active-content {
    display: block;
}

.tabs-content {
    width: 100%;
    min-height: 40vh;
}