html {
  font-size: 125%;
}

a {
  text-decoration: none; 
  color: #8AA134;
  transition: all .3s;
}

img {
  max-width: 100%;
  object-fit: cover;
}
/* General styles */
body {
  background: url('./assets/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg') no-repeat fixed center;
}

header {
  width: 100%;
  min-height: 30vh;
}

main {
  padding: 0 5% 5%;
  width: 100%;
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

.flex-center {
  min-height: calc(100vh - 40px);
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(201, 171, 106, .8);
  box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Image component */
.race-image {
  width: 30%;
  margin: 0 auto;
}