@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *::before, *::after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
  font-size: 125%;
}
/* Stripping styles */
h1, h2, h3, p, form, select, option, button, ul {
  margin: 0; 
  padding: 0;
  transition: all .3s;
}

button, input {
  border: none;
}

a {
  text-decoration: none; 
  color: #8AA134;
  transition: all .3s;
}
/* Body styles */
body {
  background: url('./lukasz-szmigiel-jFCViYFYcus-unsplash.jpg') no-repeat fixed center;
}

header {
  width: 100%;
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

.flex-center {
  min-height: calc(100vh - 40px);
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(201, 171, 106, .8);
  box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* Typography and General Styles */
h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 4rem;
  padding: 5%;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
  font-weight: 700;
}

h2,
h3 {
  font-family: 'Tangerine', cursive;
}

label {
  font-family: 'Berkshire Swash', cursive;
  font-size: 2.5rem;
}


p {
  font-family:'Comfortaa', cursive;
  font-size: 1.2rem;
}

footer p {
  font-size: 0.9rem;
}

img {
  max-width: 100%;
  object-fit: cover;
}
/* Form component */
.form {
  display: flex;
  justify-content: center;
  padding: 0 5% 5%;
}

select {
  width: 20%;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 5%;
  border: none;
}

button {
  padding: 10px;
  width: 15%;
  border-radius: 30px;
  background-color: #30322B;
  color: white;
}

button:hover, 
button:focus {
  cursor: pointer;
  background-color: #505e20;
}

/* Image component */
.race-image {
  width: 30%;
  margin: 0 auto;
}
/* Results section */
.results {
  padding: 0 5% 5%;
  display: flex;
  flex-direction: column;
}

.results-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.results-top-info {
  display: flex;
  justify-content: flex-start;
}

.results-bottom {
  display: flex;
}

.results ul {
  flex-basis: 70%;
}

.results li {
  display: flex;
  flex-direction: column;
}

.results li:not(:last-child) {
  margin-bottom: 5px;
}

.list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

h3, 
.list-details p,
span {
  padding: 10px 20px;
}

.list-details {
  background-color: rgba(0, 0, 0, 0.1);
  max-height: 0;
  overflow: hidden;
  transition: all .5s cubic-bezier(0, 1, 0, 1)
}

.list-details.show {
  height: auto;
  max-height: 9999px;
  transition: all .5s cubic-bezier(1, 0, 1, 0);
}
/* Footer */
footer {
  padding: 10px;
  background-color: #30322B;
  color: white;
  text-align: center;
  width: 100%;
}

a:hover, 
a:focus {
  color: #c9ab6a;
}

@media (max-width: 1174px) {
  html {
    font-size: 110%;
  }

  button {
    width: 20%;
  }
}

@media (max-width: 1034px) {
  /* Form styles */
  .form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  select, button {
    width: 80%;
  }

  select {
    margin: 3% 0;
    padding: 10px;
  }
  /* Results component */
  .results-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .results-top {
    flex-direction: row;
  }

  .race-image {
    width: 50%;
  }

  h3 {
    text-align: center;
  }
}

@media (max-width: 784px) {
  h1 {
    font-size: 3.5rem;
  }
  /* Form */
  select, button {
    width: 95%;
  }
  /* Results */
  .results {
    padding: 0 2% 2%;
  }

  .results-top {
    justify-content: center;
    width: 100%;
  }

  .race-image {
    width: 50%;
    margin: 10px;
  }
  .list-details {
    text-align: center;
  }
}

@media (max-width: 590px) {
  h1 {
    font-size: 2.5rem;
  }

  .wrapper {
    width: 95%;
  }

  .results-top {
    flex-direction: column;
  }

  .race-image {
    width: 70%;
  }
}