html {
  font-size: 125%;
}
/* Stripping styles */
h1, h2, h3, p, form, select, option, button, ul {
  margin: 0; 
  padding: 0;
  transition: all .3s;
}

li {
  list-style-type: none;
}

button, input {
  border: none;
}

a {
  text-decoration: none; 
  color: #8AA134;
  transition: all .3s;
}

img {
  max-width: 100%;
  object-fit: cover;
}
/* General styles */
body {
  background: url('./lukasz-szmigiel-jFCViYFYcus-unsplash.jpg') no-repeat fixed center;
}

header {
  width: 100%;
}

main {
  padding: 0 5% 5%;
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

.flex-center {
  min-height: calc(100vh - 40px);
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(201, 171, 106, .8);
  box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Image component */
.race-image {
  width: 30%;
  margin: 0 auto;
}
/* Results section */

.tabs {
  background-color: red;
}

.active-tabs {
  background-color: blue;
}

.content {
  display: none;
}

.active-content {
  display: block;
}


.results-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.results-top-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.results-bottom {
  display: flex;
}

.results ul {
  flex-basis: 70%;
}

.results li {
  display: flex;
  flex-direction: column;
}

.results li:not(:last-child) {
  margin-bottom: 5px;
}

.list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

h3, 
.list-details p,
span {
  padding: 10px 20px;
}

.list-details {
  background-color: rgba(0, 0, 0, 0.1);
  max-height: 0;
  overflow: hidden;
  transition: all .5s cubic-bezier(0, 1, 0, 1)
}

.list-details.show {
  height: auto;
  max-height: 9999px;
  transition: all .5s cubic-bezier(1, 0, 1, 0);
}